$headerColor: rgb(18, 52, 70);
$bodyColor: rgb(36, 75, 97);


@mixin flexCenter($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: $bodyColor;
    overflow: hidden;

    ul {
        list-style: none;
    }
    
    display: flex;
    flex-direction: column;
}

header {
    font-size: 2.3rem;
    font-weight: bold;
    color: whitesmoke;
    font-family: "Philosopher", sans-serif;
    background-color: $headerColor;

    h1 {
        user-select: none;
        cursor: pointer;
        transition: transform .3s ease-in-out;

        &:hover {
            transform: scale(1.1);
            text-shadow: 0 0 5px #c5c5c5;
        }
    }

    @include flexCenter(column, center, center)
}

nav {
    font-size: 2.5rem;
    background-color: $headerColor;
    color: whitesmoke;
    font-weight: bold;
    font-family: "Philosopher", sans-serif;

    ul {
        margin: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        li {
            padding-bottom: 30px;
            height: 3rem;
            user-select: none;
            transition: transform .3s ease-in-out;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
                transform: scale(1.1);
                text-shadow: 0 0 5px #c5c5c5;
            }

            @include flexCenter(row, center, center)
        }
        
    }



    @include flexCenter(row, center, center)
    
}

.content-box {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;

    .mansus-table {
        background-image: url('../src/img/Mansus.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        margin: 0;
        padding-top: 1rem;
        overflow: auto;
        position: relative;
        top: -.5px;
        transition: all .5s ease-in-out;
        
        height: 100%;
        width: 100%;
    
        ul {
            box-shadow: 5px 5px 5px 2px rgb(56, 56, 56);
            border-top: 1.5px solid black;
            border-right: 1.5px solid black;
            border-bottom: 1.5px solid black;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            min-width: 650px;
            margin: 0;
            padding: 1rem;
            padding-left: 5rem;
            background-color: white;
            flex-shrink: 0;

            div {
                gap: 15px;

                li {
                    font-size: 3rem;
                    padding: 1rem;
                    transition: transform .4s ease-in-out;

                    &:hover img{
                        opacity: 1;
                    }
                }
                img {
                    height: 45px;
                    transition: opacity .4s ease-in-out;
                    transition: transform .4s ease-in-out;
                    border-radius: 10px;
                    opacity: 0;
                }

                &:hover li {
                    transform: scale(1.1);
                    cursor: pointer;
                    user-select: none;
                    text-decoration: underline;
                }

                &:hover img {
                    opacity: 1;
                    transform: scale(1.5);
                }

                @include flexCenter(row, '', center)
            }
            
        }

        .way-box {
            display: grid;
            grid-template-rows: 80px 1fr;
            background-color: white;
            height: 85%;
            margin-right: 700px;
            overflow: auto;
            flex-shrink: 0;
            opacity: 1;
            transition: opacity .3s;
            border-radius: 10px;

            .headers {
                display: grid;
                grid-template-columns: repeat(3, 650px);
                font-size: 2.4rem;
                text-align: center;
                font-weight: bold;
                font-family: "Belgrad", sans-serif;

                div {
                    padding: 10px 20px 0px 20px;
                    border-top: 2px solid black;
                    border-bottom: 2px solid black;
                }

                div:first-child {
                    border-top-left-radius: 10px;
                }

                div:last-child {
                    border-right: 2px solid black;
                    border-left: 2px solid black;
                    border-top-right-radius: 10px;
                }

                div:not(:last-child) {
                    border-left: 2px solid black;
                }
            }

            .way-products {
                display: grid;
                grid-template-columns: repeat(3, 650px);
                font-size: 2.2rem;
                
                .products {
                    display: grid;
                    grid-template-rows: repeat(3, 1fr);
                    grid-auto-rows: 1fr;
                    text-align: center;
                    border-bottom: 2px solid black;
                    border-right: 2px solid black;
                    
                    div {
                        padding: 20px 15px 15px 10px;
                    }
                    div:not(:last-child) {
                        border-bottom: 2px solid black;
                    }

                    div:last-child {
                        border-bottom-left-radius: 10px;
                    }

                    &:first-child {
                        border-left: 2px solid black;
                    }

                }

                
            }
        }

        .way-box.inactive {
            opacity: 0;
        }

        @include flexCenter(row, space-between, center)

    }

    .mansus-table.hidden {
        position: absolute;
        top: 100%;
    }

    // Rituals

    .rituals {
        background-image: url('../src/img/rites.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        margin: 0;
        padding-top: 1rem;
        overflow: auto;
        position: relative;
        top: -.5px;
        transition: all .5s ease-in-out;

        height: 100%;
        width: 100%;

        .ritual-box {
            display: grid;
            grid-template-rows: 80px 1fr;
            background-color: white;
            width: calc(450*3px);
            border-radius: 10px;
            height: 85%;

            .headers {
                display: grid;
                grid-template-columns: repeat(3, 450px);
                font-family: "Belgrad", sans-serif;
                font-weight: bold;
                text-align: center;
                font-size: 1.4rem;

                div {
                    padding: 10px 20px 0px 20px;
                    border-top: 2px solid black;
                    border-bottom: 2px solid black;
                }

                div:first-child {
                    border-top-left-radius: 10px;
                }

                div:not(:last-child) {
                    border-left: 2px solid black;
                }

                div:last-child {
                    border-left: 2px solid black;
                    border-right: 2px solid black;
                    border-top-right-radius: 10px;
                }
            }
            .ritual-box-content {
                display: grid;
                grid-template-columns: repeat(3, 450px);
                //font-size: 1.2rem;

                .summon-products {
                    display: grid;
                    grid-template-rows: repeat(3, 1fr);
                    text-align: center;
                    border-bottom: 2px solid black;
                    border-right: 2px solid black;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                .summon-products:first-child {
                    border-left: 2px solid black;
                }
                
            }

        }
        
        @include flexCenter(row, center, center)
    }

    .rituals.hidden {
        position: absolute;
        top: 100%;
    }

}