@mixin flexCenter($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;

    ul {
        list-style: none;
    }
    
    display: flex;
    flex-direction: column;
}

header {
    font-size: 1.4rem;
    border: 1px solid black;
    font-weight: bold;

    @include flexCenter(column, center, center)
}

nav {
    font-size: 2rem;
    border-bottom: 1px solid black;
    

    ul {
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            height: 3rem;
            user-select: none;
            &:hover {
                background-color: lightblue;
                text-decoration: underline;
                cursor: pointer;
            }

            @include flexCenter(row, center, center)
        }
        
    }

    /*ul {
            height: 3rem;
            margin: 0;
            padding: 0;

        .door-tab {
            width: 100%;
            text-align: center;
            padding: .5rem;

            &:first-child {

                &:hover {
                    background-color: rgb(117, 250, 206);
                    cursor: pointer;
                }
                
            }

            &:nth-child(2) {

                &:hover {
                    background-color: rgb(120, 206, 255);
                    cursor: pointer;
                }
            }

            &:nth-child(3) {

                &:hover {
                    background-color: rgb(255, 118, 237);
                    cursor: pointer;
                
                }
            }

            &:nth-child(4) {

                &:hover {
                    background-color: rgb(140, 206, 250);
                    cursor: pointer;
                }
            }

            &:nth-child(5) {

                &:hover {
                    background-color: rgb(225, 142, 250);
                    cursor: pointer;
                }
            }
        }


    @include flexCenter(row, center, center)

    }*/


    @include flexCenter(row, center, center)
    
}

.content-box {
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;

    display: none;

    .mansus-table {
        background-image: url('../src/Mansus.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        margin: 0;
        padding-top: 1rem;
        overflow: auto;
        
        height: 100%;
        width: 100%;
        gap: 10px;
    
        ul {
            box-shadow: 6px 6px 3px 3px rgb(56, 56, 56);
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            min-width: 420px;
            height: 400px;
            margin: 0;
            padding-top: 1rem;
            background-color: white;
            flex-shrink: 0;
    
            li {
                font-size: 2rem;
                padding: 1rem;
                transition: transform .4s ease-in-out;
                
    
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                    user-select: none;
                    text-decoration: underline;
                }
            }
            
        }

        .way-box {
            display: grid;
            grid-template-columns: repeat(3, 350px);
            grid-template-rows: 80px 1fr 1fr 1fr;
            font-size: 1rem;
            min-width: calc(350*3);
            height: 640px;
            margin-right: 200px;
            background-color: white;
            overflow: auto;
            flex-shrink: 0;
            
            
            div {
                font-size: 1.4rem;
                text-align: center;
                border-bottom: 1px solid black;
                border-top: 1px solid black;
                overflow: scroll;

                @include flexCenter(row, center, center)
            }

            div:first-child {
                border-left: 1px solid black;
            }

            div:first-child, div:nth-child(2) {
                border-right: 1px solid black;
            }
            
        }

        @include flexCenter(row, space-between, center)
        
    }

    

}





