html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: rgb(36, 75, 97);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
body ul {
  list-style: none;
}

header {
  font-size: 2.3rem;
  font-weight: bold;
  color: whitesmoke;
  font-family: "Philosopher", sans-serif;
  background-color: rgb(18, 52, 70);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
header h1:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px #c5c5c5;
}

nav {
  font-size: 2.5rem;
  background-color: rgb(18, 52, 70);
  color: whitesmoke;
  font-weight: bold;
  font-family: "Philosopher", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav ul {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
nav ul li {
  padding-bottom: 30px;
  height: 3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav ul li:hover {
  text-decoration: underline;
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 0 0 5px #c5c5c5;
}

.content-box {
  margin: 0;
  padding: 0;
  height: 100vh;
  position: relative;
}
.content-box .mansus-table {
  background-image: url("../src/img/Mansus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  margin: 0;
  padding-top: 1rem;
  overflow: auto;
  position: relative;
  top: -0.5px;
  transition: all 0.5s ease-in-out;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.content-box .mansus-table ul {
  box-shadow: 5px 5px 5px 2px rgb(56, 56, 56);
  border-top: 1.5px solid black;
  border-right: 1.5px solid black;
  border-bottom: 1.5px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 650px;
  margin: 0;
  padding: 1rem;
  padding-left: 5rem;
  background-color: white;
  flex-shrink: 0;
}
.content-box .mansus-table ul div {
  gap: 15px;
  display: flex;
  flex-direction: row;
  justify-content: "";
  align-items: center;
}
.content-box .mansus-table ul div li {
  font-size: 3rem;
  padding: 1rem;
  transition: transform 0.4s ease-in-out;
}
.content-box .mansus-table ul div li:hover img {
  opacity: 1;
}
.content-box .mansus-table ul div img {
  height: 45px;
  transition: opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}
.content-box .mansus-table ul div:hover li {
  transform: scale(1.1);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: underline;
}
.content-box .mansus-table ul div:hover img {
  opacity: 1;
  transform: scale(1.5);
}
.content-box .mansus-table .way-box {
  display: grid;
  grid-template-rows: 80px 1fr;
  background-color: white;
  height: 85%;
  margin-right: 700px;
  overflow: auto;
  flex-shrink: 0;
  opacity: 1;
  transition: opacity 0.3s;
  border-radius: 10px;
}
.content-box .mansus-table .way-box .headers {
  display: grid;
  grid-template-columns: repeat(3, 650px);
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  font-family: "Belgrad", sans-serif;
}
.content-box .mansus-table .way-box .headers div {
  padding: 10px 20px 0px 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.content-box .mansus-table .way-box .headers div:first-child {
  border-top-left-radius: 10px;
}
.content-box .mansus-table .way-box .headers div:last-child {
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top-right-radius: 10px;
}
.content-box .mansus-table .way-box .headers div:not(:last-child) {
  border-left: 2px solid black;
}
.content-box .mansus-table .way-box .way-products {
  display: grid;
  grid-template-columns: repeat(3, 650px);
  font-size: 2.2rem;
}
.content-box .mansus-table .way-box .way-products .products {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  text-align: center;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.content-box .mansus-table .way-box .way-products .products div {
  padding: 20px 15px 15px 10px;
}
.content-box .mansus-table .way-box .way-products .products div:not(:last-child) {
  border-bottom: 2px solid black;
}
.content-box .mansus-table .way-box .way-products .products div:last-child {
  border-bottom-left-radius: 10px;
}
.content-box .mansus-table .way-box .way-products .products:first-child {
  border-left: 2px solid black;
}
.content-box .mansus-table .way-box.inactive {
  opacity: 0;
}
.content-box .mansus-table.hidden {
  position: absolute;
  top: 100%;
}
.content-box .rituals {
  background-image: url("../src/img/rites.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  margin: 0;
  padding-top: 1rem;
  overflow: auto;
  position: relative;
  top: -0.5px;
  transition: all 0.5s ease-in-out;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-box .rituals .ritual-box {
  display: grid;
  grid-template-rows: 80px 1fr;
  background-color: white;
  width: 1350px;
  border-radius: 10px;
  height: 85%;
}
.content-box .rituals .ritual-box .headers {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  font-family: "Belgrad", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.4rem;
}
.content-box .rituals .ritual-box .headers div {
  padding: 10px 20px 0px 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.content-box .rituals .ritual-box .headers div:first-child {
  border-top-left-radius: 10px;
}
.content-box .rituals .ritual-box .headers div:not(:last-child) {
  border-left: 2px solid black;
}
.content-box .rituals .ritual-box .headers div:last-child {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top-right-radius: 10px;
}
.content-box .rituals .ritual-box .ritual-box-content {
  display: grid;
  grid-template-columns: repeat(3, 450px);
}
.content-box .rituals .ritual-box .ritual-box-content .summon-products {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.content-box .rituals .ritual-box .ritual-box-content .summon-products:first-child {
  border-left: 2px solid black;
}
.content-box .rituals.hidden {
  position: absolute;
  top: 100%;
}/*# sourceMappingURL=styles.css.map */